[Unit]
Description=My custom Script
After=network.target


[Service]
Type=forking
User=root
WorkingDirectory=/home/hlhwan
ExecStart=/home/hlhwan/hy.sh
Restatr=always
RestartSec=5


[Install]
WantedBy=multi-user.target
EOF